/* Icons */

.icon-send {
  display: inline-block;
  .sprite(@icon-send-white);
}

.icon-phone-black {
  display: inline-block;
  .sprite(@icon-phone-black);
}

.icon-email-black {
  display: inline-block;
  .sprite(@icon-email-black)
}

.icon-brain {
  background-color: @c-turquoise-light;

  &:before {
    .sprite(@icon-brain-white);
  }
}

.icon-brain-small {
  background-color: @c-turquoise-light;

  &:before {
    .sprite(@icon-brain-small-white);
  }
}

.icon-lamp {
  background-color: @c-blue;

  &:before {
    .sprite(@icon-lamp-white);
  }
}

.icon-lamp-small {
  background-color: @c-blue;

  &:before {
    .sprite(@icon-lamp-small-white);
  }
}

.icon-smile {
  background-color: @c-red;

  &:before {
    .sprite(@icon-smile-white);
  }
}

.icon-smile-small {
  background-color: @c-red;

  &:before {
    .sprite(@icon-smile-small-white);
  }
}

.icon-seastar {
  background-color: @c-yellow;

  &:before {
    .sprite(@icon-seastar-white);
  }
}

.icon-seastar-small {
  background-color: @c-yellow;

  &:before {
    .sprite(@icon-seastar-small-white);
  }
}

.icon-attachment {
  display: inline-block;
  margin-bottom: 10px;
  .sprite(@icon-attachment-blue);
}

.icon-form-warning {
  display: inline-block;
  .sprite(@icon-form-warning-gray);
}

/* "How we create" icons */

.icon-research {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-research-adaptation {
  background-image: url("../img/icons/icon-research-adaptation.svg");
}

.icon-research-education {
  background-image: url("../img/icons/icon-reseach-education.svg");
}

.icon-research-colaborate {
  background-image: url("../img/icons/icon-research-colaborate.svg");
}

.icon-research-mark {
  background-image: url("../img/icons/icon-research-mark.svg");
}

.icon-research-analize {
  background-image: url("../img/icons/icon-research-analize.svg");
}

.research-block-devices {
  display: block;
  background: url("../img/icons/icon-research-devices.svg") no-repeat center;
  width: 162px;
  height: 197px;

}

.icon-development-devices {
  display: block;
  background: url("../img/icons/icon-development-devices.svg") no-repeat center;
  width: 50px;
  height: 50px;
}

.icon-development {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-development-ispring {
  background-image: url("../img/logos/ispring.svg");
  width: 43px;
  height: 41px;
}

.icon-development-websoft {
  background-image: url("../img/logos/websoft.svg");
  width: 77px;
  height: 30px;
}

.icon-development-1c {
  background-image: url("../img/logos/1c.svg");
  width: 61px;
  height: 30px;
}

.icon-development-mirapolis {
  background-image: url("../img/logos/mirapolis.svg");
  width: 42px;
  height: 47px;
}

.icon-development-ssf {
  background-image: url("../img/logos/sap-success-factors.svg");
  width: 55px;
  height: 36px;
}

.development-block-lines {
  .sprite(@development-block-lines);
}

.icon-launch-publish {
  .sprite(@icon-launch-publish);
}

.icon-launch-hosting {
  .sprite(@icon-launch-hosting);
}

.icon-launch-analytics {
  .sprite(@icon-launch-analytics);
}

.icon-launch-content-management {
  .sprite(@icon-launch-content-management);
}

.icon-launch-support {
  .sprite(@icon-launch-support);
}

.icon-launch-security {
  .sprite(@icon-launch-security);
}

/* iPhone icons */

.icon-iphone-conferences-black {
  .sprite(@icon-iphone-conferences-black);
}

.icon-iphone-conferences-white {
  .sprite(@icon-iphone-conferences-white);
}

.icon-iphone-conferences {
  i {
    .icon-iphone-conferences-black;
  }

  &:hover {
    i {
      .icon-iphone-conferences-white;
    }
  }
}

.icon-iphone-exhibitions-black {
  .sprite(@icon-iphone-exhibitions-black);
}

.icon-iphone-exhibitions-white {
  .sprite(@icon-iphone-exhibitions-white);
}

.icon-iphone-exhibitions {
  i {
    .icon-iphone-exhibitions-black;
  }

  &:hover {
    i {
      .icon-iphone-exhibitions-white;
    }
  }
}

.icon-iphone-enterprises-black {
  .sprite(@icon-iphone-enterprises-black);
}

.icon-iphone-enterprises-white {
  .sprite(@icon-iphone-enterprises-white);
}

.icon-iphone-enterprises {
  i {
    .icon-iphone-enterprises-black;
  }

  &:hover {
    i {
      .icon-iphone-enterprises-white;
    }
  }
}

.icon-iphone-festivals-black {
  .sprite(@icon-iphone-festivals-black);
}

.icon-iphone-festivals-white {
  .sprite(@icon-iphone-festivals-white);
}

.icon-iphone-festivals {
  i {
    .icon-iphone-festivals-black;
  }

  &:hover {
    i {
      .icon-iphone-festivals-white;
    }
  }
}

.icon-iphone-exhibitors-black {
  .sprite(@icon-iphone-exhibitors-black);
}

.icon-iphone-exhibitors-white {
  .sprite(@icon-iphone-exhibitors-white);
}

.icon-iphone-exhibitors {
  i {
    .icon-iphone-exhibitors-black;
  }

  &:hover {
    i {
      .icon-iphone-exhibitors-white;
    }
  }
}

.icon-iphone-venues-black {
  .sprite(@icon-iphone-venues-black);
}

.icon-iphone-venues-white {
  .sprite(@icon-iphone-venues-white);
}

.icon-iphone-venues {
  i {
    .icon-iphone-venues-black;
  }

  &:hover {
    i {
      .icon-iphone-venues-white;
    }
  }
}

/* Solutions icons */

.icon-solution-info {
  .sprite(@icon-solution-info);
}

.icon-solution-gamification {
  .sprite(@icon-solution-gamification);
}

.icon-solution-navigation {
  .sprite(@icon-solution-navigation);
}

.icon-solution-networking {
  .sprite(@icon-solution-networking);
}

.icon-solution-promotion {
  .sprite(@icon-solution-promotion);
}

.icon-solution-interactive {
  .sprite(@icon-solution-interactive);
}

.slider-arrow-left {
  .sprite(@slider-arrow-left);

  &:hover {
    .sprite(@slider-arrow-left-red);
  }
}

.slider-arrow-right {
  .sprite(@slider-arrow-right);

  &:hover {
    .sprite(@slider-arrow-right-red);
  }
}